.form-horizontal
  .form-group
    %label.col-md-3.control-label Start Date
    .col-md-9
      %p.form-control-static
        = @relocation.start_at
  .form-group
    %label.col-md-3.control-label
      Moving From
      .small (nearest major metropolitan area)
    .col-md-9
      %p.form-control-static
        = @relocation.origin_metro_area_id
  .form-group
    %label.col-md-3.control-label
      Moving To
      .small (nearest major metropolitan area)
    .col-md-9
      %p.form-control-static
        = @relocation.destination_metro_area_id
