%p Dear #{@user.name},

%p You're granted administrator access to #{@organization.name} on mobilityempowered.com. You can login to our system by clicking following link and find more.

%p
  =link_to root_url, root_url

%p Best regards,

%p
  Mobility Empowered Service Robot
  %br/
  %small Relocation powered by ME&copy;