thead {
  border-top: 1px solid #E3E3E3;
}

.btn-primary-me {
  background-color: #FF8300;
  border-color: #FF8300;
  color: white;
}

.btn-primary-me:hover,
.btn-primary-me:focus,
.btn-primary-me:active,
.btn-primary-me.active {
  background-color: #EA7600;
  border-color: #FF8300;
  color: white;
}
.btn-primary-me.disabled:hover,
.btn-primary-me.disabled:focus,
.btn-primary-me.disabled:active,
.btn-primary-me.disabled.active,
.btn-primary-me[disabled]:hover,
.btn-primary-me[disabled]:focus,
.btn-primary-me[disabled]:active,
.btn-primary-me[disabled].active,
fieldset[disabled] .btn-primary-me:hover,
fieldset[disabled] .btn-primary-me:focus,
fieldset[disabled] .btn-primary-me:active,
fieldset[disabled] .btn-primary-me.active {
  background-color: #EA7600;
  border-color: #EA7600;
  color: white;
}