.row
  .col-sm-3.col-md-2.sidebar
    = render 'organizations/sidenav/navigation'
  .col-sm-9.col-md-10
    %h3.text-uppercase
      = @organization.name
      Overview
    %hr
    .organization-administration