.form-horizontal.employee-data
  .form-group
    %label.col-md-3.control-label First Name
    .col-md-9
      %p.form-control-static
        = @employee.first_name
  .form-group
    %label.col-md-3.control-label Middle Name
    .col-md-9
      %p.form-control-static
        = @employee.middle_name
  .form-group
    %label.col-md-3.control-label Last Name
    .col-md-9
      %p.form-control-static
        = @employee.last_name
