.row
  .col-sm-12
    .card
      .header
        %strong.title.text-uppercase service requests
        -if can? :create, @relocation => ServiceRequest
          = link_to 'New Policy', new_relocation_service_request_path, remote: true,  class: 'btn btn-primary-me pull-right'
      .table-responsive
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Description
              %th Status
              %th Effective Date
              %th Expiration Date
              %th Actions

          %tbody.policy-index
            = render 'organizations/policies/index'
.modal.fade#policy-modal