.row
  .col-sm-12
    .card
      .header
        %strong.title.text-uppercase Employees
      .table-responsive
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Organization
              %th User Account
              %th Relocation Count
              %th{colspan:"2"}

          %tbody.organization-index
            = render 'index'
.modal.fade#employee-modal
