%footer.footer
  .container-fluid
    .row
      .col-sm-8.text-uppercase
        &copy;
        = Time.now.year
        %strong Mobility
        %span.font-light> empowered LLC
      .col-sm-4
        %span.pull-right
          = link_to "Support", "#"
          |
          = link_to "Terms", "#"
          |
          = link_to "Privacy", "#"